.navbar{
    overflow: hidden;
    background-color: seashell;
    position: fixed;
    top: 0;
    width: 100%;
  }
.divcenter {
 
    font-weight: bold;
    font-size: 15px;
  }
.container{
  background-color:#e1e6e2;
}